<h1>welcome</h1>
<form action="/home" method="post">
    enter student name:
    <input type="text" name="student_name">
    enter student mobile:
    <input type="number" name="student_mobile">
    enter student email:
    <input type="email" name="student_emial">
    <button>save now</button>
</form>
<h1>student list</h1>
<table style="border: 2px solid black;">
<tr>
<th></th>
<th>sn</th>
<th>name</th>
<th>mobile</th>
<th>email</th>
</tr>
<% for(var i=0;i<list.length;i++){
    %>
<tr>
     <td><a href="/delete/<%=list[i].student_id%>"><button>delete</button></a></td>
    <td><%=i+1%></td>
    <td><%=list[i].student_name %></td>
    <td><%=list[i].student_mobile %></td>
    <td><%=list[i].student_emial %></td>
</tr>
<%
}%>
</table>